@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.main-container {
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1169px) {
  .main-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.page__container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.home {
  padding-top: 8rem;
  padding-bottom: 18rem;
  background-color: #34495e;
  background-image: url("../images/banner.jpg");
  background-size: cover;
}
.home__content {
  margin-top: 21rem;
  color: #fff;
  text-align: center;
}
.home__caption-about {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (min-width: 1170px) {
  .home__caption-about {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1169px) {
  .home__caption-about {
    font-size: 3.5rem;
  }
}
.home__caption-services {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 1170px) {
  .home__caption-services {
    font-size: 7rem;
  }
}
@media screen and (max-width: 1169px) {
  .home__caption-services {
    font-size: 4.5rem;
  }
}
.home__caption-works {
  display: block;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (min-width: 1170px) {
  .home__caption-works {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1169px) {
  .home__caption-works {
    font-size: 3rem;
  }
}
.home__button {
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 9.6rem;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
}
.home__switches {
  margin-top: 13rem;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
}
.header__logo {
  -ms-flex-item-align: center;
  align-self: center;
}
.menu {
  -ms-flex-item-align: center;
  align-self: center;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.menu__separator {
  margin-left: 3.8rem;
  margin-right: 3.8rem;
  cursor: default;
}
.menu__link {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.menu__link:hover,
.menu__link:focus {
  color: #000;
}
.button {
  text-transform: uppercase;
  font-weight: 600;
  background: #fff;
  color: #000;
  border: 0.2rem solid #f39c12;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.button:hover,
.button:focus {
  background: #f39c12;
  color: #fff;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.switch {
  padding: .6rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #5b6770;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.switch:hover,
.switch:active {
  background: #fff;
  cursor: pointer;
}
.switch_active {
  background: #fff;
}
.title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.title_xl {
  font-size: 3rem;
}
.title_l {
  font-size: 2rem;
}
.section {
  margin-top: 10rem;
}
.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 750px) {
  .section__header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 749px) {
  .section__header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 750px) {
  .section__header {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}
.section__title {
  position: relative;
}
@media screen and (min-width: 750px) {
  .section__title {
    padding-right: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 750px) {
  .section__title:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-right: 0.4rem solid #f39c12;
  }
}
@media screen and (max-width: 749px) {
  .section__title {
    padding-bottom: .5rem;
    margin-bottom: 2rem;
    position: relative;
  }
}
@media screen and (max-width: 749px) {
  .section__title:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 0.4rem solid #f39c12;
  }
}
.section__description {
  text-transform: uppercase;
  color: #4c4c4c;
}
@media screen and (min-width: 1000px) {
  .section__content {
    margin-top: 13.5rem;
  }
}
@media screen and (max-width: 999px) {
  .section__content {
    margin-top: 6.5rem;
  }
}
.section__splitter {
  border-bottom: 0.2rem solid #e6e6e6;
}
@media screen and (min-width: 1000px) {
  .section__splitter {
    padding-bottom: 12.4rem;
  }
}
@media screen and (max-width: 999px) {
  .section__splitter {
    padding-bottom: 5.5rem;
  }
}
.section__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1000px) {
  .section__grid:not(:nth-child(1)) {
    margin-top: 11.5rem;
  }
}
@media screen and (max-width: 999px) {
  .section__grid:not(:nth-child(1)) {
    margin-top: 5.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .section__grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 999px) {
  .section__grid {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.section__additional {
  background-image: url("../images/about-bg.jpg");
  padding-top: 23.2rem;
  padding-bottom: 23.2rem;
  margin-top: 10rem;
  background-color: #000;
  background-size: cover;
}
.about__story-column {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
  .about__story-column {
    width: 60%;
  }
}
@media screen and (min-width: 750px) {
  .about__story-column {
    padding-left: 15rem;
  }
}
@media screen and (min-width: 750px) {
  .about__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 12.3rem;
  }
}
@media screen and (max-width: 749px) {
  .about__icon {
    position: absolute;
    right: 10%;
    top: -2rem;
    width: 6.1rem;
  }
}
.about__story-info {
  margin-top: 2rem;
}
.about__story-text {
  margin-bottom: 2.2rem;
  color: #e74c3c;
  font-size: 2rem;
}
@media screen and (max-width: 999px) {
  .about__story-img {
    margin-top: 5.5rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media screen and (max-width: 999px) {
  .about__img {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .about__skills-column {
    width: 47%;
  }
}
@media screen and (max-width: 749px) {
  .about__skills-column {
    margin-top: 5.5rem;
  }
}
@media screen and (max-width: 999px) {
  .about__skills-img {
    margin-top: 5.5rem;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
.about__skills-description {
  position: relative;
}
@media screen and (min-width: 750px) {
  .about__skills-description {
    padding-left: 15rem;
  }
}
.about__skills-info {
  margin-top: 2rem;
}
.about__skills {
  margin-top: 5.5rem;
}
.about__skill {
  margin-top: 3rem;
}
.about__additional-content {
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.about__additional-caption {
  position: relative;
}
.about__additional-caption:before {
  display: inline;
  content: "“";
  font-size: 11rem;
}
@media screen and (max-width: 1097px) {
  .about__additional-caption:before {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1097px) {
  .about__additional-caption:after {
    display: inline;
    content: "“";
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1098px) {
  .about__additional-quote {
    position: relative;
  }
  .about__additional-quote:after {
    display: inline;
    content: "“";
    font-size: 11rem;
  }
}
@media screen and (min-width: 1000px) {
  .about__additional-caption {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 999px) {
  .about__additional-caption {
    font-size: 3.5rem;
  }
}
.about__additional-author {
  display: inline-block;
  font-size: 2.4rem;
  margin-top: 3rem;
  padding-top: 2.1rem;
  text-transform: uppercase;
  position: relative;
}
.about__additional-author:after {
  position: absolute;
  content: "";
  width: 40%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-top: 0.4rem solid #f39c12;
}
.skill__hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}
.skill__name {
  text-transform: uppercase;
}
.skill__separator {
  color: #bfbfbf;
  font-weight: 700;
  margin: 0 .5rem;
}
.skill__percent {
  color: #4c4c4c;
}
.skill__progress[value]::-webkit-progress-value {
  background: #f39c12;
}
.skill__progress[value]::-webkit-progress-bar {
  background: #e6e6e6;
}
.skill__progress[value]::-moz-progress-bar {
  background: #f39c12;
}
.skill__progress {
  width: 100%;
  height: 1rem;
  border: none;
  background: #e6e6e6;
}
@media screen and (min-width: 500px) {
  .team__grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.team__column {
  text-align: center;
  padding: 0 1.9rem 1.5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.team__column:hover,
.team__column:focus {
  position: relative;
  background: #e6e6e6;
  cursor: default;
}
.team__column:hover:before,
.team__column:focus:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0.4rem solid #f39c12;
}
@media screen and (min-width: 1000px) {
  .team__column {
    width: 20%;
  }
}
@media screen and (max-width: 999px) and (min-width: 500px) {
  .team__column {
    width: 47%;
  }
}
@media screen and (max-width: 499px) {
  .team__column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
.team__header {
  padding-top: 1.4rem;
  position: relative;
  padding-bottom: 1.4rem;
  margin-bottom: 1.6rem;
}
.team__header:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 10%;
  border-bottom: 4px solid #999999;
}
.team__img {
  position: relative;
  border-radius: 50%;
  border: .4rem solid #f2f2f2;
  -webkit-box-shadow: 0 0 0 2px #e6e6e6;
  box-shadow: 0 0 0 2px #e6e6e6;
}
.team__position {
  color: #999999;
  font-size: 1.5rem;
}
.team__description {
  color: #595959;
}
.team__icon {
  width: 18px;
  fill: #999999;
}
.team__icon:hover,
.team__icon:focus {
  fill: #f39c12;
}
@media screen and (min-width: 500px) {
  .team__additional-grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.team__additional-column {
  text-align: center;
}
.team__additional-column:hover .team__additional-icon-circle,
.team__additional-column:focus .team__additional-icon-circle {
  fill: #fff;
  stroke: #fff;
}
.team__additional-column:hover .team__additional-icon-inner,
.team__additional-column:focus .team__additional-icon-inner {
  fill: #f39c12;
}
@media screen and (max-width: 749px) and (min-width: 500px) {
  .team__additional-column {
    width: 32%;
    margin-bottom: 2.3em;
  }
  .team__additional-column:not(:nth-child(2n)) {
    margin-right: 3%;
  }
}
@media screen and (max-width: 499px) {
  .team__additional-column {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 2.3em;
  }
}
.team__additional-icon {
  width: 176px;
}
.team__additional-icon-circle {
  fill: #f39c12;
  stroke: #f39c12;
  -webkit-transition: fill .2s,
                stroke .2s;
  transition: fill .2s,
                stroke .2s;
}
.team__additional-icon-inner {
  fill: #fff;
  -webkit-transition: fill .2s;
  transition: fill .2s;
}
.team__additional-info {
  text-align: center;
  color: #fff;
  font-weight: 700;
  cursor: default;
}
.team__additional-total {
  display: block;
  font-size: 4.5rem;
}
.team__additional-text {
  display: block;
  font-size: 2.5rem;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
}
.social__link {
  margin-right: 1.9rem;
  -webkit-transition: fill .2s;
  transition: fill .2s;
}
@media screen and (min-width: 1401px) {
  html {
    font-size: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 399px) {
  html {
    font-size: 52.5%;
  }
}
body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background: #fff;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.625rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.375rem;
}
p {
  color: #595959;
}
p:last-child {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: inline-block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
