.about__story-column{
    position: relative;
    box-sizing: border-box;
}

@media screen and (min-width: 1000px){

    .about__story-column{
        width: 60%;
    }
}

@media screen and (min-width: 750px){

    .about__story-column{
        padding-left: 15rem;
    }
}

@media screen and (min-width: 750px){

    .about__icon{
        position: absolute;
        left: 0;
        top: 0;
        width: 12.3rem;
    }
}

@media screen and (max-width: 749px){

    .about__icon{
        position: absolute;
        right: 10%;
        top: -2rem;
        width: 6.1rem;
    }
}

.about__story-info{
    margin-top: 2rem;
}

.about__story-text{
    margin-bottom: 2.2rem;
    color: @red-color;
    font-size: 2rem;
}

@media screen and (max-width: 999px){

    .about__story-img{
        margin-top: 5.5rem;
        flex-grow: 1;
    }
}

@media screen and (max-width: 999px){

    .about__img{
        width: 100%;
    }
}

@media screen and (min-width: 1000px){

    .about__skills-column{
        width: 47%;
    }
}

@media screen and (max-width: 749px){

    .about__skills-column{
        margin-top: 5.5rem;
    }
}

@media screen and (max-width: 999px){

    .about__skills-img{
        margin-top: 5.5rem;
        text-align: center;
        flex-grow: 1;
        order: 1;
    }
}

.about__skills-description{
    position: relative;
}

@media screen and (min-width: 750px){

    .about__skills-description{
        padding-left: 15rem;
    }
}

.about__skills-info{
    margin-top: 2rem;
}

.about__skills{
    margin-top: 5.5rem;
}

.about__skill{
    margin-top: 3rem;
}

.about__additional-content{
    text-align: center;
    font-weight: 700;
    color: @white-color;
}

.about__additional-caption{
    position: relative;
}

.about__additional-caption:before{
    display: inline;
    content: "“";
    font-size: 11rem;
}

@media screen and (max-width: 1097px){

    .about__additional-caption:before{
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 1097px){

    .about__additional-caption:after{
        display: inline;
        content: "“";
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 1098px){

    .about__additional-quote{
        position: relative;
    }

    .about__additional-quote:after{
        display: inline;
        content: "“";
        font-size: 11rem;
    }
}


@media screen and (min-width: 1000px){

    .about__additional-caption{
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 999px){

    .about__additional-caption{
        font-size: 3.5rem;
    }
}

// @media screen and (min-width: 1000px){
//
//     .about__additional-quote{
//         font-size: 11rem;
//     }
// }


.about__additional-author{
    display: inline-block;
    font-size: 2.4rem;
    margin-top: 3rem;
    padding-top: 2.1rem;
    text-transform: uppercase;
    position: relative;
}

.about__additional-author:after{
    position: absolute;
    content: "";
    width: 40%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border-top: .4rem solid @main-color;
}
