.about__story{
    position: relative;
}

@media screen and (min-width: 810px){

    .about__story{
        padding-left: 15.2rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 809px){

    .about__story{
        padding-left: 11rem;
        padding-right: 8rem;
    }
}

@media screen and (max-width: 499px){

    .about__story{
        padding-left: 4rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 809px) and (min-width: 500px){

    .about__story-icon{
        position: absolute;
        left: 2%;
        top: 0;
        width: 11rem;
        height: 11rem;
    }
}

@media screen and (min-width: 810px){

    .about__story-icon{
        position: absolute;
        left: 0;
        top: 0;
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 499px){

    .about__story-icon{
        position: absolute;
        right: 4rem;
        top: -2rem;
        width: 10rem;
        height: 10rem;
    }
}

.about__story-container{
    display: flex;
}

@media screen and (min-width: 810px){

    .about__story-container{
        justify-content: space-between;
    }
}

@media screen and (max-width: 809px){

    .about__story-container{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 810px){

    .about__story-content{
        width: 47%;
    }
}

@media screen and (min-width: 810px){

    .about__story-img{
        width: 40%;
        align-self: flex-start;
    }
}

@media screen and (max-width: 809px){

    .about__story-img{
        margin-top: 2rem;
        width: 80%;
        align-self: flex-start;
    }
}

.about__story-info{
    margin-top: 2rem;
}

.about__story-text{
    font-size: 2rem;
    font-weight: 300;
    color: @red-color;
    margin-top: 0;
    margin-bottom: 2rem;
}

.about__skills{
    margin-top: 8.9rem;
}

@media screen and (min-width: 500px) and (max-width: 600px){

    .about__skills{
        padding-left: 11rem;
        padding-right: 10rem;
    }
}

@media screen and (max-width: 499px){

    .about__skills{
        padding-left: 4rem;
        padding-right: 3rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 809px){

    .about__skills{
        padding-left: 11rem;
        padding-right: 10rem;
    }
}


.about__skills-container{
    position: relative;
    display: flex;
}

@media screen and (min-width: 810px){

    .about__skills-container{
        justify-content: space-between;
    }
}

@media screen and (max-width: 809px){

    .about__skills-container{
        flex-wrap: wrap-reverse;
    }
}

@media screen and (min-width: 810px){

    .about__skills-img{
        width: 45%;
        align-self: flex-start;
    }
}

@media screen and (max-width: 809px){

    .about__skills-img{
        align-self: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 809px){

    .about__skills-content{
        margin-top: 2rem;
    }
}

@media screen and (min-width: 810px){

    .about__skills-content{
        width: 33%;
    }
}

.about__skills-info{
    margin-top: 2rem;
}

.about__skills-icon{
    position: absolute;
    right: 33%;
    top: 0;
    width: 15rem;
    height: 15rem;
}

@media screen and (max-width: 809px){

    .about__skills-icon{
        position: absolute;
        right: 1rem;
        top: -1rem;
        width: 11rem;
        height: 11rem;
    }
}

@media screen and (max-width: 600px){

    .about__skills-icon{
        width: 10rem;
        height: 10rem;
    }
}
