.section{
    margin-top: 8.9rem;
}

.section__header{
    display: flex;
    justify-content: space-between;
    padding-left: 7rem;
    padding-right: 7rem;
}

.section__title{
    padding-right: 2rem;
    margin-right: 2rem;
    position: relative;
}

.section__title:after{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        border-right: .4rem solid @main-color;
}

.about__description{
    text-transform: uppercase;
}
